<div class="sidenav" [class.open]="isSidebarOpen">
  <a href="javascript:void(0)" class="closebtn" (click)="toggleSidebar()">&times;</a>

  <a routerLink="/" routerLinkActive="active">Dashboard</a>
  <a routerLink="/shops" routerLinkActive="active" (click)="toggleShopMenu()">
    Shops
    <span class="arrow" [class.open]="isShopMenuOpen">&#9662;</span> <!-- Dropdown arrow -->
  </a>
  <div *ngIf="isShopMenuOpen" class="submenu">
    <a routerLink="/shops/add" routerLinkActive="active">Add Shop</a>
    <a routerLink="/shops/view" routerLinkActive="active">View Shops</a>
  </div>
  <a routerLink="/orders" routerLinkActive="active">Orders</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/customers" routerLinkActive="active">Customers</a>
  <a routerLink="/contact-us" routerLinkActive="active">Contact us</a>
  <a routerLink="/settings" routerLinkActive="active">Settings</a>

</div>

<!-- Main content -->
<div id="main-content" [class.sidenav-open]="isSidebarOpen">
  <button *ngIf="!isSidebarOpen"  class="openbtn" (click)="toggleSidebar()">&#9776;</button>
  <router-outlet></router-outlet>
</div>
